#container{
    display: flex;
}
.square{
    width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    font-size: 25pt;
}

#comandos{
    display: flex;
    justify-content: space-evenly;
}